fastapi==0.91.0
httpx==0.23.1
langchain==0.0.142
openai==0.27.2
python-telegram-bot==20.0
twilio==7.17.0
python-dotenv==0.21.1
numpy==1.23.5
uvicorn==0.21.1
librosa
python-multipart
pinecone-client==2.2.1